

li {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 70%;
  min-height: 60px;
  border: 2px solid rgba(255, 99, 71, 0.5);
  border-radius: 5px;
  margin-top: 30px;
  left: 20%;
}

 .checkradio {
  width: 20px;
  height: 20px;
  margin: 20px 20px 10px 20px;
  cursor: pointer;
  }

.todo-title {
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  word-break: normal;
  color: rgb(8, 70, 68);
}

.fa-minus-square-o {
  font-size: 2.0rem;
  background-color: #ffffff;
  color: salmon;
  margin: 14px 20px 10px 20px;
  cursor: pointer;
}